
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600&display=swap');


*{
  padding:0
}
button{
  user-select: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #f5f5f5;
  padding: 0;
}

.container{
  padding:0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

h1{
  margin:0;
  user-select: none;
}

.wrap{
  max-width:425px;
  width:100%;
}

.heading{
  font-size: 80px;
  text-align: center;
  padding:0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #ead8d8
}

.mid{
  height: 45px;
  box-shadow: 0 3px 6px #ccc;
  background: #fefefe;
  max-width: 400px;
  width:100%;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.all-check{
  font-size: 20px;
  padding:0;
  display: block;
  max-height: 45px;
  max-width: 45px;
  height: 100%;
  width: 100%;
  background: #fefefe;
  color:#e6e6e6;
  border: none;
  outline: none;
}

.block{
  padding:0;
  display: block;
  max-height: 45px;
  max-width: 45px;
  width: 100%;
}

.foot-panel{
  padding:0 5px 0 5px;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 25px;
  align-items: center;
}

.items{
  padding:0;
  margin: 0;
  height: auto;
  box-shadow: 0 0px 4px #ccc;
  background: #fefefe;
  max-width: 400px;
  width:100%;
  opacity: 0.99;
}
::placeholder
{
  font-style: italic;
  opacity: 0.3;
  user-select: none;
}

.input-form{
  font-size: 20px;
  border:none;
  max-width: 400px;
  width:100%;
  outline: none;
  height: 45px;
}


p{
  font-size: 15px;
  padding: 0;
  margin:0;
  
}

.edit-component{
  padding:0;
  margin: 0;
  border-bottom: 0.5px solid #eee;
  max-width: 400px;
  width:100%;
  outline: none;
  min-height: 45px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.check{
  color:#4f5467;
  display:flex;
}

input[type="checkbox"]{
  display: none;
}

label{
  padding-left: 20px;
}
label::before{
  content: "";
  background-image:url(icon/noCheck.png);
  background-size: 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fefefe;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  /* border: 1px solid #eee;
  border-radius: 10px; */
}

input[type="checkbox"]:checked + label::before{
  background-image:url(icon/check.png);
  background-size: 100%;
  color:green;
}

.handle-remove{
  height: 25px;
  width:25px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  user-select: none;
  outline: none;
}


.delete-img{
  padding-right: 5px;
  height: 10px;
  width:10px;
  user-select: none;
  outline: none;
  opacity: 0;
}

.vision-delete-img{padding-right: 5px;
  height: 10px;
  width:10px;
  user-select: none;
  outline: none;
  opacity: 1;
}

.footer{
  display: flex;
  justify-content: space-around;
  max-width: 150px;
  width: 100%;
}

.filter{
  font: inherit;
  color: inherit;
  outline: none;
  background-color: transparent;
  border: 1px solid #fefefe;
  user-select: none;
  text-decoration: none;
}



.filter-on{
  box-sizing: border-box;
  margin: 0px;
  padding:0;
  border: 1px solid #a4a093;
  border-radius: 2px;
  text-decoration: none;
}

.tasks-text{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color:#a4a093;
  padding:1px;
}

.input-stroke{
  font-size: 20px;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  color:#666;
  max-width: 400px;
  width:100%;
  outline: none;
  height: 45px;
}

.design-first{
  display: block;
  justify-content: center;
  padding: 0;
  margin:0 5px;
  max-width: 390px;
  height: 4px;
  background-color: #fefefe;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px #ccc;
}

.design-second{
  display: block;
  justify-content: center;
  padding: 0;
  margin:0 15px;
  max-width: 370px;
  height: 3px;
  background-color: #fefefe;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 4px #ccc;
}

.edit-stroke{
  font-size: 20px;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  color:#666;
  max-width: 400px;
  width:100%;
  outline: none;
  height: 40px;
  padding-left: 40px;
}

.label-check{
  text-decoration:line-through;
  color:#666;
}

.label-no-check{
  text-decoration:none;
}

.bg{
  background: #f5f5f5;
  padding: 0;
  max-height:500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display{
  margin-top:15em;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 3px 6px #ccc;
  background: #fefefe;
  display: flex;
  justify-content: space-around;
  padding:2em ;
}
.main-auth{
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sign-up{
  display: block;
}

.form{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.first-name{
  margin-top:5px;
}

@media screen and (max-width: 380px){
.heading{
font-size: 60px;}
.all-check{
font-size: 15px;}
.input-form{
font-size: 15px;}
p{
font-size: 11px;}
.tasks-text{
font-size: 12px;}
.input-stroke{
font-size: 15px;}
.edit-stroke{
font-size: 15px;}
}